
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    margin: 0;
    padding: 0;
}

.header{
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(233,233,233,.5);
}
.nav-link{
    color:#0984e3;
    font-size: 16px;
    text-transform: capitalize;
}
.nav-link:hover{
    color: #74b9ff;
}
#wrapper{
    padding-top: 30px;
}
.card{
    /* margin-top: 10px; */
    margin-bottom: 30px;
}



.search_block, .category_block, .widget_block{
    background: rgb(223, 230, 233, 0.5);
    padding: 35px;
    border-radius: 13px
}
.search_block > .input-group{
    margin-top: 25px;
}
.search_block > .input-group input{
    border-radius: 13px !important;
}


.category_block{
    margin-top: 30px;
}

/* widget */
.widget_block{
    margin-top: 30px;
}




/* alert */

.alert{
    background-color: #ff7675;
    color: #fff;
    padding: 20px 25px;
}
.comments_block{
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 15px;
    padding: 40px 40px ;
    background: rgb(178, 190, 195, .4);
}
.comments_user_block{
    display: flex;
}
.avatar img{
    width: 70px;
}
.comments_user_block_content > .comment_header{
    display: flex;
    /* width: 100%; */
    align-items: center;
}
.comments_user_block_content > .comment_header h3{
    margin-left: 10px;
}
.comments_user_block_content > .comment_header small{
    display: block;
    margin-left: 10px;
}

.comment_text{
    margin-left: 10px;
    /* max-width: 00px; */
}

.post_single_block{
   padding-top: 40px;
   padding-bottom: 40px;
}
.card-img-top{
    border-radius: 13px;
    margin-top: 25px;
}