.header{
    padding-top: 10px;
    padding-bottom: 10px;

    .row{
        justify-content: space-between;
        align-items: center;
    }
}

.logo_block{
    img{
        width: 120px;
    }
}

.contact_block{
    .contact_btn{
        border: 0px solid;
        background-color: transparent;
        font-size: 18px;
        padding: 10px;
        text-decoration: none;
        color: #000;
    }
}