.tabs{
   
}

.tabs_block{
    display: flex;

    .tabs_controle{
        width: 70px;
        display: flex;
        flex-direction: column;
        // background: rgba(10,10,10, .65);
        height: 100vh;

        .nav-link{
            background: transparent;
            border: 0px solid ;
            font-size: 34px;

          
        }
    }
}