section.header
    .container-fluid
        .row
            .col-lg-12.header_block
                .col-lg-6
                    .logo_block
                        img(src="./images/logo.png", alt="")
                .col-lg-6
                    .avatar_cabinet
                        .avatar_img
                            img(src="./images/avatar.png", alt="")