section.header 
    .wrapper
        .row 
            .logo_block   
                img(src="./images/logo.png", alt="")

            .contact_block 
                a(href="#" class="contact_btn" type="button") Contact Me 


