section.header
    .container
        .row
            .col-lg-12
                .col-lg-6
                    .logo_block
                        img
                .col-lg-6
                    .avatar_cabinet
                        .avatar_img
                            img