section.main 
    .row 
        .main-card 
            .card-header 
                .avatar 
                    img(src="./images/avatar.png", alt="")
                .name_block 
                    h1 Kostya Karaman
                    span Web-Developer
            .card-body 
                .skill_block 
                    ul.skill_list 
                        li.skill_list-item 
                            h3 HTML     
                            p Experience with this technology 4 years
                        li.skill_list-item 
                            h3 HTML     
                            p Experience with this technology 4 years
                        li.skill_list-item 
                            h3 HTML     
                            p Experience with this technology 4 years
                        li.skill_list-item 
                            h3 HTML     
                            p Experience with this technology 4 yearss