section.tabs    
    .container-fluid 
        .tabs_block
            #v-pills-tab.tabs_controle(role='tablist' aria-orientation='vertical')
                button#v-pills-cart-tab.nav-link.active(data-bs-toggle='pill' data-bs-target='#v-pills-cart' type='button' role='tab' aria-controls='v-pills-cart' aria-selected='true') 
                   i.bx.bx-cart-alt
                button#v-pills-user-tab.nav-link(data-bs-toggle='pill' data-bs-target='#v-pills-user' type='button' role='tab' aria-controls='v-pills-user' aria-selected='false') 
                    i.bx.bx-user
                button#v-pills-order-tab.nav-link(data-bs-toggle='pill' data-bs-target='#v-pills-order' type='button' role='tab' aria-controls='v-pills-order' aria-selected='false' order='') 
                    i.bx.bx-archive
                button#v-pills-feedback-tab.nav-link(data-bs-toggle='pill' data-bs-target='#v-pills-feedback' type='button' role='tab' aria-controls='v-pills-feedback' aria-selected='false') 
                    i.bx.bx-task
                button#v-pills-settings-tab.nav-link(data-bs-toggle='pill' data-bs-target='#v-pills-settings' type='button' role='tab' aria-controls='v-pills-settings' aria-selected='false') 
                    i.bx.bx-phone-call
            #v-pills-tabContent.tab-content
                #v-pills-cart.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='v-pills-cart-tab' tabindex='0') test1
                #v-pills-user.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-user-tab' tabindex='0') test2
                #v-pills-order.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-order-tab' tabindex='0') ...
                #v-pills-feedback.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-feedback-tab' tabindex='0') ...
                #v-pills-settings.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-settings-tab' tabindex='0') ...
