section.main 
    .row 
        .main-card 
            .card-header 
                .avatar 
                    img(src="./images/avatar.png", alt="" class="animate__animated animate__bounce")
                .name_block 
                    h1 Kostya Karaman
                    span Web-Developer
            .card-body 
                .skill_block 
                    ul.skill_list 
                        li.skill_list-item 
                            h3 Age    
                            p I have 23 year`s old
                        li.skill_list-item 
                            h3 Nationality  
                            p Ukraine/Mykolaiv
                        li.skill_list-item 
                            h3 Hobbie     
                            p Basketball and Video Games (and my wife :smile )
                        li.skill_list-item 
                            h3 Commercial Experince      
                            p 3+ year`s
    .next_btn.txt-center
        button(class="next")  
